:root {
    --base-font: sans-serif;
}

.container {
    width: min(80ch, 100vw - 4rem);
    margin-inline: auto;
}

.region {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

body {
    font-family: var(--base-font);
    font-size: 1.2rem;
}

.spin-it {
    animation: spin-animation 1s linear infinite;
}

.spin-stop {
    animation-play-state: paused;
}

@keyframes spin-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}